__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.DS_Store
*.pkl
*.pyc
.idea/
.vscode/
.env
*.log
node_modules/
.vercel
dist/
build/
*.egg-info/
